/* GENERAL STYLES */
body {
    font-family: Arial, sans-serif;
}

header {
    height: 50px;
}

nav {
    font-family: Helvetica, sans-serif;
    height: 70px;
}

ul {
    list-style: none;
}

/* UTILITIES */
/* Custom buttons */
.btn-buy {
    background: #cd3d0f;
    color: #fff;
}

/* Hover buttons */
.btn-buy:hover {
    box-shadow: 0 0 0 1px #cd3d0f inset,
                0 0 0 3px #000 inset;
    color: #fff;
}

.ms_btn-dark:hover {
    box-shadow: 0 0 0 1px #1c1f23 inset,
                0 0 0 3px #fff inset;
}

.ms_btn-primary:hover {
    box-shadow: 0 0 0 1px #0d6efd inset,
                0 0 0 3px #fff inset;
}

/* NAV */
.ms_navbar-light .ms_navbar-nav .ms_nav-link {
    color: #000;
    font-weight: 500;
}

.ms_dropdown-toggle::after {
    content: url('../img/chevron-down-solid.svg');
    display: inline-block;
    width: 10px;
    margin-left: .255em;
}

.search-logo {
    height: 27px;
}

/* MAIN */
/* Jumbo */
.jumbo {
    position: relative;
    background: #000;
    max-width: 100vw;
    overflow: hidden;
}

.jumbo > .jumbo-bg {
    position: relative;
    min-width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.jumbo .jumbo-row {
    position: absolute;
    bottom: 30px;
    z-index: 1;
}

/* Hero */
.hero img {
    width: 100%;
    border-radius: 15px;
}

.hero img.active {
    box-shadow: 0 0 0 2px #fff,
                0 0 0 4px #0072ce;
}

/* Features Gallery */
.features-gallery > div > * {
    opacity: 70%;
    transition: opacity .3s;
}

.features-gallery > div.active > *,
.features-gallery > div:hover > * {
    opacity: 1;
}

.features-gallery > div.active > div {
    height: 100%;
    border-bottom: 2px solid #0072ce;
}

/* Mini Jumbo New Releases */
.mini-jumbo {
    position: relative;
    overflow: hidden;
}

.mini-jumbo .jumbo-bg {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
    filter: brightness(.5);
}

.mini-jumbo .jumbo-row {
    position: relative;
    z-index: 1;
}

/* Hero New Releases */
.hero-new-release {
    background: #1f1f1f;
}

.hero-new-release .card-img img {
    width: 100%;
    border-radius: 20px;
}

/* PlayStation Plus */
.playstation-plus {
    background: #bebcbb;
}

.playstation-plus .ms_btn-primary {
    color: #2d64e6;
    background-color: #d9dadc;
    font-weight: 600;
}

.playstation-plus .ms_btn-primary:hover {
    box-shadow: 0 0 0 1px #d9dadc inset,
                0 0 0 3px #2d64e6 inset;
}

/* PlayStation Now */
.playstation-now {
    background: #161c3b;
}

.playstation-now .ms_btn-light {
    font-weight: 600;
}

.playstation-now .ms_btn-light:hover {
    box-shadow: 0 0 0 1px #f8f9fa inset,
                0 0 0 3px #000 inset;
}

/* Social */
.social .container-lg {
    max-width: 800px;
}

/* FOOTER */
footer {
    background: #00439c;
}

footer .language {
    width: 20px;
}

footer ul a {
    text-decoration: none;
}

footer .ps-logo-footer {
    width: 110px;
}

footer .sie-logo {
    width: 130px;
}