/* GENERAL STYLES */
body {
    font-family: Arial, sans-serif;
}

header {
    height: 50px;
}

nav {
    font-family: Helvetica, sans-serif;
    height: 70px;
}

/* UTILITIES */
.btn-buy {
    background: #cd3d0f;
    color: white;
}

/* NAV */
.ms_bg-light {
    background: #fff;
}

.ms_navbar-light .ms_navbar-nav .ms_nav-link {
    color: #000;
    font-weight: 500;
}

/* .ms_dropdown-toggle::after {
    content: url('../img/chevron-down-solid.svg');
    height: 20px;
}
 */

.search-logo {
    height: 27px;
}

/* JUMBO */
.jumbo {
    position: relative;
}

.jumbo > .jumbo-bg {
    position: relative;
    min-width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.jumbo-row {
    position: absolute;
    bottom: 30px;
    z-index: 1;
}

/* HERO */
.hero img {
    width: 100%;
    border-radius: 15px;
}

.hero img.active {
    box-shadow: 0 0 0 2px #fff,
                0 0 0 4px #0072ce;
}
